body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f8;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 90vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background image */
  background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #1a1a2e;
  margin-bottom: 10px;
}

/* Game container styling */
#game-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 40px;
  background-color: #ffffff; /* Base color */
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  overflow: hidden; /* Ensures that inner elements don't overflow */
}
/* Timer and Score styling */
#timer,
#score-container {
  font-size: 1.2em;
  color: #1a1a2e;
  margin: 10px 0;
}

/* Question and Answer styling */
#question-container {
  margin-bottom: 20px;
}

#answer-buttons button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dddddd;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

#answer-buttons button:hover {
  transform: scale(1.05);
}

/* Button styling for start and categories */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1a1a2e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #16213e;
}

/* Correct Answer */
button.btn-correct {
  background-color: #4bb543 !important;
}
/* incorrect Answer */

button.btn-incorrect {
  background-color: #ff3333 !important;
}
/* Transition effect for the button color change */
button {
  transition: background-color 0.5s ease;
}
/* Category buttons styling */
.category-btn {
  margin: 10px;
  width: 150px;
}

/* Responsive design */
@media (max-width: 600px) {
  #game-container {
    width: 100%;
    margin: 10px;
  }
  #answer-buttons button,
  .category-btn {
    width: auto;
  }
}



